---
Language: Cpp
BasedOnStyle: LLVM

IndentWidth: 4
UseTab: Never

BraceWrapping:
  AfterClass: false
  AfterControlStatement: true
  AfterEnum: false
  AfterFunction: true
  AfterNamespace: false
  AfterObjCDeclaration: false
  AfterStruct: false
  AfterUnion: false
  BeforeCatch: false
  BeforeElse: false

BreakBeforeBraces: Attach

IndentCaseLabels: false
BreakConstructorInitializers: BeforeComma
ConstructorInitializerIndentWidth: 4
IndentPPDirectives: None

DerivePointerAlignment: false
PointerAlignment: Right
ReferenceAlignment: Right

NamespaceIndentation: None

ColumnLimit: 0

SpacesInCStyleCastParentheses: false
SpacesInParentheses: false
SpacesInSquareBrackets: false

SpaceAfterCStyleCast: false
SpaceAfterTemplateKeyword: false
SpaceBeforeParens: ControlStatements

ReflowComments: false

SortIncludes: false
SortUsingDeclarations: false
